<% 
      
const href_template =  `/p/${post.short_id}?p={{page}}` 

%>

<style>
  .post {
    min-width: 400px;
    display: block;
  }

  .container {
    max-width: 1000px !important;
  }

  .post-wrapper {
    background-color: white;
    border-radius: 4px;
    flex-wrap: wrap;
  }

  .post-menus {
    background-color: white;
    border-radius: 4px;
  }

  .breadcrumbs {
    display: flex
  }

  .breadcrumb a {
    color: #1b6091 !important;
  }


  .post .title {
    font-size: 22px;
  }

  .vertical-divider {
    border-left: 1px solid #e0e0e0;
    height: 100%;
    margin: 0px 12px;
  }

  .post-users-wrapper {
    border-right: 1px solid #e0e0e0;
    white-space: nowrap;
    background-color: #fafafa;
    border-radius: 2px;
    max-width: 160px;
  }

  .user-avatar {
    border: 1px solid #cecece;
    border-radius: 4px;
    width: 64px;
  }

  .user-account {
    width: 160px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  a.action {
    color: #4d4d4d !important;
    cursor: pointer;
  }

  .post-content img,
  .post-content video,
  .post-content iframe {
    max-width: 100% !important;
  }

  .post-content {
    max-width: 770px !important;
  }

  .comments {
    border-top: 1px solid #e0e0e0;
    flex-wrap: nowrap !important;
  }

  .invalid-editor {
    position: absolute;
    backdrop-filter: blur(5px);
    z-index: 999;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .split {
    color: #e0e0e0;
  }

  hr.secondary {
    color: #cfcfcf;
  }

  #reply-info {
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    display: none;
  }

  .comments pre {
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
  }

  .comment-anchor {
    position: relative;
    top: -64px;
  }


  .statistic {
    padding: 2px 6px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
  }


  .statistic+.statistic {
    margin-left: 6px;
  }

  .tag {
    padding: 2px 4px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
  }

  .tag-list {
    font-size: 12px;
  }


  .show-on-large-content {
    display: none;
  }

  @media screen and (max-width: 742px) {

    .post-wrapper {
      background-color: #f8f9fa;
    }

    .post-users-wrapper {
      width: 100%;
      padding: 0px;
      margin: 0px;
      border: none;
      background-color: #ffffff;
      border-bottom: 1px solid #e0e0e0;
      display: block;
      border-radius: 4px;
      max-width: none;
      font-size: 14px;
    }

    .post-wrapper {
      box-shadow: none;
    }

    .post-menus {
      box-shadow: none;
    }

    .comments,
    .main-content {
      border-top: none;
      flex-wrap: wrap !important;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      background-color: white;
      margin: 0px;
    }

    .user-avatar {
      width: 36px;
    }

    .user-account {
      font-weight: bold;
    }

    .actions {
      padding: 0px 6px;
    }

  }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/views/header') %>
  <title><%=locals.settings.name%> - <%= locals.post.title %></title>
  <meta name="description" content="<%= ellipsis(locals.post.text,200) %>">
  <meta name="keywords" content="<%= locals.post.text_keywords.join(',') %>">

</head>

<body>
  <%- include('/views/menus') %>
  <div class=" container p-1 p-lg-0">
    <div class="m-auto post">
      <div class=" ">

        <!-- 导航栏 -->
        <div class="post-menus d-flex p-2 ps-lg-4 pe-lg-4 align-items-center ">
          <div class="flex-fill">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item"><a href="/category?id=<%= category.short_id %>"><%= category.name %></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/p/<%= post.short_id %>"><%= post.title.length > 10 ?  post.title.slice(0,10) + '...' :  post.title %></a></li>
              </ol>
            </nav>
          </div>

          <div class="flex-auto">
            <button type="button" onclick="back()" class="btn btn-sm btn-outline-primary">
              <%= i18n('_dict_.back_to_previous_page') %>
            </button>

          </div>
        </div>


        <div class="d-flex post-wrapper p-lg-4 pt-lg-2 p-0 mt-3">

          <div class="col-12  mb-lg-2 ps-1 ps-lg-0 pe-1 pe-lg-0">
            <%- include('/views/components/pagination.ejs',{total_page: locals.total_page, current: locals.query.p || '1' , href_template:  href_template }) %>
          </div>


          <!-- 如果不是第一页，则不显示帖子 -->
          <% if((locals.query?.p || '1') === '1'){ %>
          <div class="d-flex flex-wrap col-12 main-content">
            <div class="post-users-wrapper pt-lg-3 pb-lg-3 me-lg-3   flex-auto">
              <div class="text-lg-center d-flex d-lg-block align-items-center p-2 p-lg-0 gap-3">
                <div>
                  <a href="/u/<%=post.user.account  %>" target="_blank">
                    <img class="user-avatar" src="<%= post.user.avatar || '/assets/default_avatar.png' %>" alt="<%= post.user.account %>">
                  </a>
                </div>

                <a class="flex-fill text-decoration-none" href="/u/<%=post.user.account  %>" target="_blank">
                  <div class="text-dark  user-account"><%= post.user.account %></div>
                </a>

                <div class=" d-flex d-lg-block gap-3">
                  <% if(post.user.nickname?.trim()){ %>
                  <div class="d-inline-block d-lg-block"><small><%= post.user.nickname  %></small></div>
                  <% } %>
                  <div class="d-inline-block d-lg-block text-secondary"><small>帖子：<%= unit.count(post.user.statistics.posts) %></small></div>
                  <div class="d-inline-block d-lg-block text-secondary"><small>粉丝：<%= unit.count(post.user.statistics.fans)  %></small></div>
                </div>
              </div>
            </div>


            <!-- 帖子主体 -->
            <div class="p-lg-0 p-1 flex-fill">
              <div class="title"><b> <span class="badge bg-secondary"><%= post.draft ? '草稿' :'' %></span> <%= post.title %></b></div>
              <div class="d-flex flex-wrap align-items-center text-secondary mt-2">
                <div class="flex-fill">
                  <small>发布于：<%= dayjs(post.post_at)  %></small>
                </div>
                <div class="flex-auto">
                  <small class="statistic">查看：<span class="fw-bold"><%= unit.count(post.statistics.views) %></span></small>
                  <small class="statistic">回帖：<span class="fw-bold"><%= unit.count(post.statistics.comments) %></span></small>
                </div>
              </div>

              <div class="mt-1">
                <% if(post.tags?.length){ %>
                <div class="tag-list text-secondary">
                  <% for(const tag of post.tags){ %>
                  <span class="tag  me-1">#<%= tag %></span>
                  <% } %>
                </div>
                <% } %>
              </div>

              <hr class="mt-2 mb-2" />

              <!-- 操作区域 -->
              <%- include('./post.actions.ejs') %>

              <hr class="mb-2 mt-2 secondary">

              <div class="post-content pt-1 pb-1">
                <div class="d-flex flex-wrap" style=" align-content: space-between">
                  <div class="h-auto col-12">
                    <div class="leap post-html"><%- post.html %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>



          <!-- 评论区域 -->
          <% for(const comment of locals.comments){ %>
          <div id="comment-<%= comment.short_id.slice(0,6) %>" class="d-flex comments col-12">
            <span id="<%= comment.short_id.slice(0,6) %>" class="comment-anchor"></span>
            <div class="post-users-wrapper pt-lg-3 pb-lg-3 me-lg-3 flex-auto">
              <div class="text-lg-center d-flex d-lg-block align-items-center p-1 p-lg-0 gap-3">
                <div>
                  <img class="user-avatar" src="<%= comment.user.avatar || '/assets/default_avatar.png' %>" alt="<%= comment.user.account %>">
                </div>
                <a class="flex-fill text-decoration-none" href="/u/<%=comment.user.account  %>" target="_blank">
                  <div class="text-dark  user-account"><%= comment.user.account %></div>
                </a>
                <div class="pe-3 pe-lg-0 d-flex d-lg-block gap-3">
                  <% if(comment.user.nickname?.trim()){ %>
                  <div class="d-inline-block d-lg-block"><small><%= comment.user.nickname  %></small></div>
                  <% } %>
                  <div class="d-inline-block d-lg-block text-secondary"><small>帖子：<%= unit.count(post.user.statistics.posts) %></small></div>
                  <div class="d-inline-block d-lg-block text-secondary"><small>粉丝：<%= unit.count(post.user.statistics.fans) %></small></div>
                </div>
              </div>
            </div>

            <div data-uid="<%= comment.uid %>" class="p-lg-0 p-1 flex-fill d-flex flex-wrap overflow-auto" style="align-content: space-between;">
              <div class="pt-3 pb-1 h-auto col-12">
                <!-- 回复内容 -->
                <% if(comment.parent){ %>
                <pre><a class=" text-dark text-decoration-none" href="/post/comment-redirect?cid=<%= comment.parent.short_id %>">#</a><small class="split"> | </small><small class="leap"><%= dayjs(comment.parent.post_at)  %></small><div class="leap "><%=  (comment.parent?.user?.nickname || comment.parent?.user?.account) + "：" +  (comment.parent?.text?.length > 20 ? comment.parent?.text.slice(0,20) + '...' : comment.parent?.text)  %></div></pre>
                <% } %>
                <!-- 评论内容 -->
                <div class="leap comment-html"><%- comment.html %></div>
              </div>
              <div class="pb-1 col-12">
                <hr class="mb-2 mt-2 secondary">
                <div class="d-flex align-items-center gap-2 actions">
                  <div class="d-flex gap-2">
                    <a class="action" href="/p/<%= post.short_id %>?p=<%= locals.query.p || '1' %>#<%= comment.short_id.slice(0,6) %>"><small> # </small></a>
                    <a class="action" onclick="reply('<%= comment.uid %>','<%= comment.user.account %>','<%= comment.text %>')"><small> 回复 </small></a>


                    <small class="split"> | </small>

                    <a class="action" href="#"><small> 举报 </small></a>

                    <% if(comment.user.uid === locals.user?.uid){ %>
                    <a class="action" onclick="removeComment('<%= comment.short_id %>')"><small> 删除 </small></a>
                    <% } %>


                    <% if( comment.post_at){ %>
                    <small class="split"> | </small>
                    <small class=" text-secondary " style="font-size: 13px " title="<%= dayjs(comment.post_at) %>"> 评论于：<%= unit.timeFrom(comment.post_at) %></small>
                    <% } %>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>


          <div class="mt-3 col-12">
            <%- include('/views/components/pagination.ejs',{total_page: locals.total_page, current: locals.query.p || '1' , href_template:  href_template }) %>
          </div>

          <div class="col-12 ">

            <div id="reply-info" class="mt-2 mb-2">
              <small class="flex-fill" id="reply-mes"></small>
              <small class="flex-auto"> <a class="action cursor-pointer" onclick="cancelReply()">取消回复 X</a> </small>
            </div>

            <div class="pt-2 pb-3">
              <% if(locals.user === undefined){ %>
              <div class="invalid-editor">登录后才能发表评论，<a href="/passport/login" target="_blank">去登录</a></div>
              <% } %>
              <form class="p-0 m-0" id="post-page-editor" method="post" action="/post/comment">
                <input name="post_uid" type="hidden" value="<%= locals.post.uid %>">
                <input name="parent_uid" type="hidden" value="">
                <input name="category_uid" type="hidden" value="<%= locals.post.category_uid %>">

                <div id="reply-editor">
                  <%- include('/views/components/post.editor.ejs', { height : 300, simple: true, placeholder: '发表你的评论吧...'}) %>
                </div>

                <% if(locals.user ){ %>
                <div class="text-end">
                  <button type="button" onclick="JoditUtils.submitComment('#post-page-editor')" class="btn btn-primary mt-2 " style="width: 128px;"><%= i18n('_dict_.post') %> </button>
                </div>
                <% } %>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function back() {
      window.history.back();
    }

    const el = (selector) => document.querySelector(selector);

    const resize = function() {
      const invalidEditor = el('.invalid-editor');
      if (invalidEditor) {
        invalidEditor.style.width = el('#editor').clientWidth + 'px';
        invalidEditor.style.height = el('#editor').clientHeight + 'px';
      }
    }
    window.onload = () => {
      resize()
      showHighlight()

      window.onresize = resize;
    }

    function showHighlight() {
      const el = document.querySelector(`#comment-${window.location.hash.slice(1)}`)
      if (el) {
        el.style.border = '1px solid #0d6efd';
        el.style.boxShadow = '0 0 10px rgba(0,0,0,0.1)';
      }
    }


    function removeComment(cid) {
      if (confirm('确定删除此评论吗？')) {
        fetch(`/post/remove-comment?cid=${cid}&pid=<%= post.short_id %>`).then(res => {
          if (res.redirected) {
            return window.location.href = res.url;
          }
          return res.text()
        }).then(res => {
          if (res != 'OK') {
            return;
          }
          console.log(res)
        })
      }
    }


    function togglePostCollect(action, pid, uid) {
      fetch(`/post/collect?uid=${uid}`).then(res => {
        if (res.redirected) {
          return window.location.href = res.url;
        }
        return res.text()
      }).then(res => {
        if (res != 'OK') {
          return;
        }
        const el = document.querySelector(`.main-content .collect-button`)
        const a = document.querySelector(`.main-content .collect-action`)

        if (action === 'collect') {
          el.textContent = '已收藏';
          el.title = '再次点击-取消收藏';
          a.setAttribute('onclick', `togglePostCollect('not-collect','${pid}', '${uid}')`);
        } else {
          el.textContent = '收藏';
          a.setAttribute('onclick', `togglePostCollect('collect','${pid}', '${uid}')`);
        }
        el.classList.toggle('text-secondary');
        a.classList.toggle('text-decoration-none');
      })
    }


    function cancelReply() {
      el('#reply-info').style.display = 'none';
      el('input[name="parent_uid"]').value = '';
      el('#reply-mes').textContent = '';
      el('.jodit-placeholder').textContent = '发表你的评论吧...';
    }

    function reply(parent_uid, account, text) {
      el('#reply-info').style.display = 'flex';
      el('input[name="parent_uid"]').value = parent_uid;
      const slice_text = String(text).length > 20 ? String(text).slice(0, 20) + '...' : String(text);
      el('#reply-mes').textContent = `回复 ${account} : ${slice_text}`;
      el('.jodit-placeholder').textContent = `回复 ${account} : ${slice_text}`;
      el('#reply-editor').scrollIntoView();
    }
  </script>
</body>

</html>