<style>
  .post {
    padding: 6px 0px;
    display: flex;
    border-bottom: 1px solid #eaeaea;
  }

  .post .statistics {
    padding: 0px 6px;
    font-size: 14px;
    white-space: nowrap;
  }

  .post .title a {
    font-size: 16px;
    font-weight: bold;
    color: #3a3a3a !important;
  }

  .post .description {
    font-size: 14px;
    min-width: 300px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .post .meta {
    font-size: 13px;
  }

  .title a:hover {
    text-decoration: underline !important;
  }

  .post:hover {
    background-color: #f9f9f9;
  }
</style>

<% if (locals.posts?.length) { %>
<div class="posts">
  <% for (let i = 0 ;i < locals.posts.length; i++) {  %>
  <% const item = locals.posts[i]; %>
  <div class="mb-1">
    <div class="post">
      <div class="info flex-fill">
        <div class="title"><a class=" text-decoration-none d-inline-block w-100" href="/p/<%= item.short_id %>"><%= item.title %></a></div>
        <div class="description">
          <% if(item.user){ %>
          <a class=" text-dark" href="/u/<%= item.user.account  %>"><%= item.user.nickname || item.user.account %></a>
          <% }else{ %>
          <a class=" text-dark">未知</a>
          <% } %>
          <span>：<%= ellipsis(item.text.trim(), 50)  %></span>
        </div>
        <div class="meta text-secondary d-flex gap-3">
          <small>创建于:<%= unit.timeFrom(item.post_at) %></small> 
          <small>最后回复于:<%= unit.timeFrom(item.last_comment_at) %></small>
        </div>
      </div>
      <div class="statistics text-secondary flex-auto">
        <div><small>查看 : <%= unit.count(item.statistics.views)  %></small></div>
        <div><small>回帖 : <%= unit.count(item.statistics.comments)   %></small></div>
      </div>
    </div>
  </div>
  <% } %>
</div>
<% } else { %>
<div class="p-2 text-center border rounded">
  <p class="card-text"><%= i18n('_dict_.no_data') %></p>
</div>
<% } %>