<style>
  header{
    position: sticky;
    top: 0;
  }
</style>

<header class="p-2 mb-5 border-bottom bg-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary"><%=locals.settings.name%></a></li>
        <% if (locals.user?.permissions?.includes('admin')) { %>
        <li><a href="/admin/index" class="nav-link px-2 link-secondary">admin</a></li>
        <% } %>
      </ul>

      <div class="dropdown text-end">
        <% if(locals.user){ %>

        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <span><%= locals.user.account || 'undefined' %></span> <img src="<%= locals.user.avatar || '/assets/default_avatar.png' %>" alt="<%= locals.user.account %>" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="/user/<%= locals.user.account %>"><%= i18n('_dict_.personal_page') %></a></li>
          <li><a class="dropdown-item" href="#"><%= i18n('_dict_.personal_setting') %></a></li>
          <li><a class="dropdown-item" href="#"><%= i18n('_dict_.notify') %></a></li>
          <li><a class="dropdown-item" href="#"><%= i18n('_dict_.draft') %></a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/passport/logout"><%= i18n('_dict_.logout') %></a></li>
        </ul>
        <% }else{ %>
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <span>
            <%= i18n('_dict_.no_login') %>
          </span>
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="/passport/login"><%= i18n('_dict_.login') %></a></li>
          <li><a class="dropdown-item" href="/passport/register"><%= i18n('_dict_.register') %></a></li>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
</header>

<%- include('/views/bg.ejs') %>