<% 

const href_template = `/user/collects?p={{page}}`;

%>

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/views/header') %>
  <title><%=locals.settings.name%></title>
  <style>
    .collects {
      max-width: 800px;
    }
  </style>
</head>

<body>
  <%- include('/views/menus') %>
  <div class=" container  ">
    <div class="m-auto collects">
      <div class="card">
        <div class="card-header">
          我的收藏
        </div>
        <div class="card-body">
          <% if(!locals.collects || locals.collects.length === 0){ %>
          <div class="empty">暂无数据</div>
          <% }else{ %>
          <div>
            <%- include('/views/components/pagination.ejs',{ total_page: locals.total_page, current: locals.query?.p || '1' , href_template: href_template}) %>

            <div>
              <%- include('/views/components/post.list.ejs', {posts: locals.collects }) %>
            </div>

            <div class="mt-2">
              <%- include('/views/components/pagination.ejs',{ total_page: locals.total_page, current: locals.query?.p || '1' , href_template: href_template}) %>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

</body>

</html>