<% 

const href_template = `/u/${account.account}?show=${ locals.query.show || 'index' }&p={{page}}`;

%>

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/views/header') %>
  <title><%=locals.settings.name%></title>
  <style>
    .wrapper {
      max-width: 800px;
      background: white;
      border: 1px solid #eaeaea;
      border-radius: 4px;
    }



    .user-profile-avatar {
      width: 100px;
      height: 100px;
      border: 1px solid #eaeaea;
      box-shadow: 0 0 4px #363636b7;
    }

    .user-bg {
      max-width: 800px;
    }

    .user-banner {
      border-radius: 4px;
      border: 1px solid #eaeaea;
      background: url('<%= account.profile_background.replace(/\\/g,"/") %>');
      height: auto;
      width: 100%;
      object-fit: cover;
      object-position: center center;
      background-size: cover;
    }

    .user-mate {
      display: flex;
      padding: 12px;
      height: 200px;
      align-items: end;
    }

    .user-mate.no-bg {
      padding: 12px;
      height: unset;
    }


    .user-meta-profile {
      padding: 4px 8px;
      margin-left: 12px;
      background-color: #2e2e2ec9;
      color: white;
      min-width: 200px;
    }

    .user-meta-profile.no-bg {
      padding: 4px 8px;
      margin-left: 12px;
      background-color: white;
      color: black;
    }

    .user .info {
      font-size: 13px;
    }

    .statistics {
      display: flex;
      gap: 24px;
    }

    .statistics a {
      color: #666;
      text-decoration: none;

    }

    .statistic {
      border: 1px solid #eaeaea;
      border-radius: 4px;
      padding: 4px 12px;
      cursor: pointer;
    }

    .statistic:hover {
      background-color: #f8f8f8;
    }


    .empty {
      text-align: center;
      padding: 12px;
      border: 1px solid #e7e7e7;
      border-radius: 4px;
      margin: 12px;
    }
  </style>
</head>

<body>
  <%- include('/views/menus') %>
  <div class="container p-0">
    <div class="wrapper m-auto">
      <div class="m-auto user-bg">
        <div class="user-banner">
          <div class="user-mate <%= account.profile_background ? '' : 'no-bg'  %>">

            <div>
              <img class="user-profile-avatar" src="<%= account.avatar || '/assets/default_avatar.png' %>" alt="<%= account.account %>">
            </div>
            <div class="user-meta-profile <%= account.profile_background ? '' : 'no-bg'  %>">
              <% if(account.nickname){ %>
              <div><b><%= account.nickname %></b> (<%= account.account %>)</div>
              <% }else{ %>
              <div><%= account.account %></div>
              <% } %>
              <div><%= account.profile  || '暂无简介~' %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-auto user">
        <div class="user-profile">
          <div class="user-actions p-2 text-end">
            <a href="/user/toggle-follow?account=<%= account.account %>" class="btn btn-sm btn-<%= locals.followed ? 'outline-danger' : 'primary' %> ps-3 pe-3"><%= locals.followed ? '取关 x' : '关注 +' %></a>
            <a href="/user/report?account=<%= account.account %>" class="btn btn-sm btn-outline-secondary">举报 !</a>
          </div>
          <div class="p-3 pt-0">

            <div class="info">
              <% if(user.permissions.includes('admin')){ %>
              <div>
                UID：<%=  account.uid  %>
              </div>
              <% } %>
              <div>
                主页链接：<a id="user-link" href="/u/<%= account.account %>"> </a>
              </div>
              <div>
                注册时间： <%= account.register_at ? dayjs(account.register_at) : '无' %>
              </div>
              <div>
                注册地址： <%= account.register_ip ? ip2region(account.register_ip) : '无' %>
              </div>
              <div>
                近期登录： <%= account.last_login_at ? dayjs(account.last_login_at) : '无' %>
              </div>
              <div>
                近期登录地址： <%= account.last_login_ip ? ip2region(account.last_login_ip) : '无' %>
              </div>
            </div>
            <hr>
            <div class="statistics text-secondary">
              <a href="/u/<%= account.account %>?show=posts">
                <div class="statistic">帖子 : <%= unit.count(account.statistics.posts ?? 0) %></div>
              </a>
              <a href="/u/<%= account.account %>?show=follows">
                <div class="statistic">关注 : <%=  unit.count(account.statistics.follows ?? 0) %></div>
              </a>
              <a href="/u/<%= account.account %>?show=fans">
                <div class="statistic">粉丝 : <%=  unit.count(account.statistics.fans ?? 0) %></div>
              </a>
            </div>


            <div class="mt-2">
              <% if(locals.query.show === 'posts'){ %>
              <% if(!locals.posts || locals.posts.length === 0){ %>
              <div class="empty">暂无数据</div>
              <% }else{ %>
              <div>
                <div>
                  <%- include('/views/components/post.list.ejs', {posts: locals.posts }) %>
                </div>

                <div class="mt-2">
                  <%- include('/views/components/pagination.ejs',{ total_page: locals.total_page, current: locals.query?.p || '1' , href_template: href_template}) %>
                </div>
              </div>
              <% } %>
              <% } %>
            </div>


            <div class="mt-2">
              <% if(locals.query.show === 'follows'){ %>
              <% if(!locals.follows || locals.follows.length === 0){ %>
              <div class="empty">暂无数据</div>
              <% }else{ %>
              <div>
                <div>
                  <% for(const user of follows){ %>
                  <%- include('./components/user.card.ejs', {user}) %>
                  <% } %>
                </div>

                <div class="mt-2">
                  <%- include('/views/components/pagination.ejs',{ total_page: locals.total_page, current: locals.query?.p || '1' , href_template: href_template}) %>
                </div>
              </div>
              <% } %>
              <% } %>
            </div>


            <div class="mt-2">
              <% if(locals.query.show === 'fans'){ %>
              <% if(!locals.fans || locals.fans.length === 0){ %>
              <div class="empty">暂无数据</div>
              <% }else{ %>
              <div>
                <div>
                  <% for(const user of fans){ %>
                  <%- include('./components/user.card.ejs', {user}) %>
                  <% } %>
                </div>

                <div class="mt-2">
                  <%- include('/views/components/pagination.ejs',{ total_page: locals.total_page, current: locals.query?.p || '1' , href_template: href_template}) %>
                </div>
              </div>
              <% } %>
              <% } %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script>
    const user_link = document.getElementById('user-link')
    user_link.href = location.origin + '/u/' + '<%= account.account %>';
    user_link.innerText = location.origin + '/u/' + '<%= account.account %>';
  </script>

</body>

</html>