 <!DOCTYPE html>
 <html lang="en">

 <head>
   <%- include('/views/header') %>
   <title><%=locals.settings.name%></title>
   <style>
     .user {
       max-width: 800px;
     }

     .user .info {
       font-size: 13px;
     }

     .statistics {
       display: flex;
       gap: 24px;
     }


     .statistic {
       border: 1px solid #eaeaea;
       border-radius: 4px;
       padding: 4px 12px;
       cursor: pointer;
     }

     .statistic:hover {
       background-color: #f8f8f8;
     }
   </style>
 </head>

 <body>
   <%- include('/views/menus') %>
   <div class=" container p-0">
     <div class="m-auto user">
       <div class="card p-3">
         <div class="d-flex align-items-center">
           <div class="flex-auto">
             <img src="<%= locals.user.avatar || '/assets/default_avatar.png' %>" alt="<%= locals.user.account %>" width="64" height="64">
           </div>
           <div class="felx-fill ms-lg-2">
             <h2><%= account.account %></h2>
             <div class="leap"><%= account.profile %>1111</div>
           </div>
         </div>
         <hr>
         <div class="info">
           <div>
             主页链接：<a id="user-link" href="/u/<%= account.account %>"> </a>
           </div>
           <div>
             注册时间： <%= account.register_at ? dayjs(account.register_at) : '无' %>
           </div>
           <div>
             注册地址： <%= account.register_ip ? ip2region(account.register_ip) : '无' %>
           </div>
           <div>
             近期登录： <%= account.last_login_at ? dayjs(account.last_login_at) : '无' %>
           </div>
           <div>
             近期登录地址： <%= account.last_login_ip ? ip2region(account.last_login_ip) : '无' %>
           </div>
         </div>
         <hr>
         <div class="statistics text-secondary">
           <div class="statistic">帖子 : <%= account.statistics.posts ?? 0 %></div>
           <div class="statistic">回帖 : <%= account.statistics.comments ?? 0 %></div>
           <div class="statistic">关注 : <%= account.statistics.follows ?? 0 %></div>
           <div class="statistic">粉丝 : <%= account.statistics.fans ?? 0 %></div>
         </div>
       </div>
     </div>
   </div>

   <script>
     const user_link = document.getElementById('user-link')
     user_link.href = location.origin + '/u/' + '<%= account.account %>';
     user_link.innerText = location.origin + '/u/' + '<%= account.account %>';
   </script>

 </body>

 </html>