<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/views/header') %>
  <title><%=locals.settings.name%> - <%= i18n('_dict_.register') %></title>
</head>

<body>
  <%- include('/views/menus') %>

  <div class="container" style="max-width: 600px;">
    <form class="mt-5" method="POST">

      <h3><%=locals.settings.name%> - <%= i18n('_dict_.register') %></h3>
      <hr>

      <div class="mb-2">
        <div>
          <label class="form-label" for="account"><%= i18n('_dict_.account') %></label>
        </div>
        <div>
          <input class="form-control" id="account" name="account" type="text" autocomplete="off" required value="<%=locals.body.account%>">
        </div>
      </div>

      <div class="mb-2">
        <div>
          <label class="form-label" for="email"><%= i18n('_dict_.email') %></label>
        </div>
        <div>
          <input class="form-control" id="email" name="email" type="email" autocomplete="email" required value="<%=locals.body.email%>">
        </div>
      </div>

      <div class="mb-2">
        <div class="d-flex align-items-center ">
          <label class="form-label" for="password"><%= i18n('_dict_.password') %></label>
        </div>
        <div>
          <input class="form-control" id="password" name="password" type="password" autocomplete="off" required placeholder="" value="<%=locals.body.password%>">
        </div>
      </div>

      <div class="mb-2">
        <div class="d-flex align-items-center ">
          <label class="form-label" for="repeat_password"><%= i18n('_dict_.repeat_password') %></label>
        </div>
        <div>
          <input class="form-control" id="repeat_password" name="repeat_password" type="password" autocomplete="off" required placeholder="">
        </div>
      </div>


      <%- include('./captcha.code.input.ejs') %>


      <div class="w-100 mt-3">
        <button type="submit" class="btn btn-primary w-100"><%= i18n('_dict_.register') %></button>
      </div>
    </form>

    <p class="mt-3">
      <%= i18n('_dict_.has_account') %>？
      <a href="/passport/login"><%= i18n('_dict_.login') %></a>
    </p>


    <% if(locals.validator_error || locals.error){  %>
    <div class="alert alert-danger mt-3" role="alert">
      <%=locals.validator_error%><%=locals.error%>
    </div>
    <% } %>

    <% if(locals.success){  %>
    <div class="alert alert-success mt-3" role="alert">
      <%=locals.success %>
    </div>
    <% } %>
  </div>


  <script>
    function refreshCode() {
      var img = document.querySelector('#code-img');
      img.src = '/passport/code.png?t=' + Date.now()
      console.log(img.src);
    }
  </script>
</body>

</html>