<% 
    // 排序 
%>

<style>
  .category {
    padding: 12px;
    display: flex;
    border: 1px solid #eaeaea;
    border-radius: 4px;
  }

  .category-container {
    background-color: white;
    padding: 24px 0px;
    border-radius: 4px;
  }


  .category .icon {
    flex: 0 auto;
  }

  .category .info {
    flex: 1;
  }

  .category .statistics {
    flex: 0 auto;
    font-size: 14px;
  }


  .category .icon {
    margin-right: 12px;
  }

  .category .name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .category .description {
    font-size: 14px;
    color: #666;
  }

  .side {
    max-width: 400px;
  }

  .post-list-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding: 2px 0px !important;
  }


  @media screen and (max-width: 768px) {
    .side {
      max-width: 100%;
    }
  }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/views/header') %>
  <title><%=locals.settings.name%></title>
</head>

<body>
  <%- include('/views/menus') %>
  <div class="container category-container">
    <div>
      <div class="d-flex flex-wrap justify-content-center">
        <div style="max-width: 800px;" class="col-lg-8 col-12 me-lg-4 me-0">
    
          <% if (locals.category_groups?.length) { %>
          <div class="categorys">
            <% for (let i = 0 ;i < locals.category_groups.length; i++) {  %>
            <% const category_group = locals.category_groups[i]; %>

            <div class="card">
              <h5 class="card-header"><%= category_group.name %></h5>
              <div class="card-body">
                <% for (let j = 0 ;j < category_group.children.length; j++) {  %>
                <% const item = category_group.children[j]; %>
                <a href="/category?id=<%= item.short_id %>" class="text-dark text-decoration-none mb-3 d-block">
                  <div class="category cursor-pointer">
                    <div class="icon"><img src="<%= item.icon || '/default_category_icon.png' %>" alt="icon" width="64" height="64"> </div>
                    <div class="info">
                      <div class="name"><%= item.name %></div>
                      <div class="description"><%= item.description %></div>
                    </div>
                    <div class="statistics p-1 p-lg-2 text-secondary">
                      <div>主题 : <%= item.statistics.posts %></div>
                      <div>回帖 : <%= item.statistics.comments  %></div>
                    </div>
                  </div>
                </a>
                <% } %>
              </div>
            </div>

            <% } %>
          </div>
          <% } else { %>
          <div>
            <%= i18n('_dict_.no_data') %>
          </div>
          <% } %>
        </div>

        <div class="side col-lg-4 col-12 mt-3 mt-lg-0">

          <div class="card mb-3">
            <h5 class="card-header fs-6">新发帖子</h5>
            <div class="card-body">
              <% if(locals.newest_posts.length === 0){ %>
              <p class="card-text">暂无数据</p>
              <% }else{ %>
              <ul class="list-group list-group-flush">
                <% for(const post of locals.newest_posts ){ %>
                <li class="list-group list-group-item post-list-item ">
                  <a class=" text-dark" href="/u/<%= post.user.account  %>"><%= post.user.nickname || post.user.account %></a>
                  :
                  <a href="/p/<%= post.short_id %>" class="text-dark text-decoration-none"><%= post.title %></a></li>
                <% } %>
              </ul>
              <% } %>
            </div>
          </div>

          <div class="card">
            <h5 class="card-header fs-6">新发评论</h5>
            <div class="card-body">
              <% if(locals.newest_comments.length === 0){ %>
              <p class="card-text">暂无数据</p>
              <% }else{ %>
              <ul class="list-group list-group-flush">
                <% for(const comment of locals.newest_comments ){ %>
                <li class="list-group list-group-item post-list-item ">
                  <a class=" text-dark" href="/u/<%= comment.user.account  %>"><%= comment.user.nickname || comment.user.account %></a>
                  :
                  <a href="/post/comment-redirect?cid<%= comment.short_id %>" class="text-dark text-decoration-none"><%= comment.text %></a>
                </li>
                <% } %>
              </ul>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>